@font-face {
    font-family: 'slkscrb';
    src: url("../slkscr.ttf") format("truetype");
}

@font-face {
    font-family: 'arimob';
    src: url("../arimo_bold.ttf") format("truetype");
}

@font-face {
    font-family: 'arimor';
    src: url("../arimo_regular.ttf") format("truetype");
}


body {
    border: 0;
    padding: 0;
    background: no-repeat url("../img/fond_contact.png") center center fixed;
    background-size: cover;
    color: white;
}

.title {
    display: flex;
    justify-content: center;
    font-size: 66px;
    margin-top: 4%;
}

h1 {
    font-family: slkscrb, serif;
    width: 20vw;
    border-bottom: solid black;
}

h2 {
    font-family: arimob, serif;
    font-size: 36px;
}

.profil_picture {
    position: fixed;
    width: 22%;
    top: 27%;
    left: 16%;
}

.text {
    display: flex;
    justify-content: center;
    gap: 9%;
    margin-left: 25%;
}

ul {
    list-style-type: none;
}

li {
    display: flex;
}

.blue_circle {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background: #148AA6;
    margin-right: 5px;
}

.white_circle {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background: white;
    margin-right: 5px;
}

.circle_pack {
    display: flex;
    margin: 9px 0 9px 0;
}

.skill_rate {
    display: flex;
    font-family: arimor, serif;
    font-size: 25px;
}

.point_skill {
    align-self: center;
    margin-left: 17px;
}

.icon {
    width: 3vh;
    margin-right: 15px;
}

.contact {
    font-family: arimor, serif;
    font-size: 25px;
}

.information {
    margin-top: 50px;
}

.information li {
    margin : 10px 0 10px 0;
    align-items: center;
}

.shib {
    position: fixed;
    width: 17vh;
    top: 30%;
    left: 66%;
}

.redirection {
    position: fixed;
    width: 130px;
    height: 130px;
    top: 5vh;
    right: 2vw;
}

.cross {
    width: 2vw;
}

.right_cross {
    position: absolute;
    left: 35px;
}

.bottom_cross {
    position: absolute;
    bottom: 7px;
}

.left_cross {
    position: absolute;
    right: 130px;
}

.cross_up:hover {
    width: 18vw;
}

.hidden_up {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 25.5vw;
    top: 45.5vh;
    text-align: center;

}

.cross {
    transition: transform .7s ease-in-out;
}
.cross:hover {
    transform: rotate(180deg);
}

.caption {
    transition: .5s ease;
    position: absolute;
    opacity: 0;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 15px;
    top: 17px;
    left: 80px;
    color: white;
    font-family: slkscrb, serif;

}

.one:hover .caption {
    opacity: 1;
}

.caption_contact {
    transition: .5s ease;
    position: absolute;
    opacity: 0;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 15px;
    top: 60px;
    left: 115px;
    color: white;
    font-family: slkscrb, serif;

}

.two:hover .caption_contact {
    opacity: 1;
}

.caption_stage {
    transition: .5s ease;
    position: absolute;
    opacity: 0;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 15px;
    top: 105px;
    right: 110px;
    color: white;
    font-family: slkscrb, serif;

}

.three:hover .caption_stage {
    opacity: 1;
}

.caption_pres {
    transition: .5s ease;
    position: absolute;
    opacity: 0;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 15px;
    top: 60px;
    right: 115px;
    color: white;
    font-family: slkscrb, serif;

}

.four:hover .caption_pres {
    opacity: 1;
}